# Ignore build directories
cmake-build-*/
build/

#Ignore CMAKE files since they can always be regenerated
CMakeFiles/
cache.sqlite
cmake_install.cmake
CMakeCache.txt
CMakeList.txt
Makefile
.cmake/

# Ignore IDE-specific files
.idea/
*.iml
.vscode/

# Ignore compiled files
*.o
*.out
*.exe
*.log
*.swp
*.json

# Ignore system files
.DS_Store


#These files can always be regenerated
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
docs/*
